import * as <%= moduleName %>Service from './<%= moduleName %>-service';


export const load = ({ request }) => <%= moduleName %>Service.load(request.query);

export const create = ({ request }) => <%= moduleName %>Service.create({...request.query, ...request.body });

export const update = ({ params, request }) => <%= moduleName %>Service.update({
    ...request.query,
    ...request.body,
    entityId: params.entityId
});

export const remove = ({ params }) => <%= moduleName %>Service.remove({ id: params.entityId });
