import baseSequelizeDao from '../../../lib/base/sequelize-dao';
import <%= uppercaseFirstLetter(moduleName) %> from './<%= moduleName %>';


const composedDAO = baseSequelizeDao(<%= uppercaseFirstLetter(moduleName) %>);


export default {
  ...composedDAO
};
