import {STRING, ENUM, INTEGER, BOOLEAN} from 'sequelize';
import sequelize, {defaultModelConfigurations} from '../../db-context';


const modelConfiguration = {
  ...defaultModelConfigurations,
  tableName: '<%= moduleName %>s'
};

const <%= uppercaseFirstLetter(moduleName) %> = sequelize.define('<%= moduleName %>', {
    // attributes go here
},
  modelConfiguration
);


export default <%= uppercaseFirstLetter(moduleName) %>;
