import <%= moduleName %>Dao from './<%= moduleName %>-dao';


export const load = whereParams => <%= moduleName %>Dao.load(whereParams);


export const create = params => <%= moduleName %>Dao.create(params);


export const update = ({ entityId, ...params }) => <%= moduleName %>Dao.update(params, { id: entityId });


export const remove = whereParams => <%= moduleName %>Dao.remove(whereParams);
