body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F7F7FF;
}

body #root {
  color: #495867;
}

#root .boilerplate-title {
  font-weight: 600;
}

#root .powered {
  text-align: right;
}

#root a {
  color: #002642;
  text-decoration: none;
}

#root a:active {
  color: #002642;
}

#root a:hover {
  text-decoration: none;
  color: #495867;
}